@model IEnumerable<ASP_Dashboard.Models.ItemMenu>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescMenu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acesspadm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdemMenu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescRotina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Janela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auxiliar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OredemRotina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.acesspadm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdemMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescRotina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Janela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auxiliar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OredemRotina)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RotinaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RotinaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RotinaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
